body {
  background-color: pink;
  display: grid;
  justify-content: space-around;
  margin-top: 1rem;
}

.btn, .btn-primary, .btn-lg{
  background-color: #2196f3;
  display: flex;
}


.form-wrapper {
  width: 80%;
  margin: 0 auto;
}

.input-field {
  width: 30em;
}




/* .alwaysMid {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .form {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    background-size: cover;
    background-position: center;
} */
